@import './base.css';

body, html {
  height: 100%;
  margin: 0;
  background-color: #f0f0f0;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-box {
  padding: 20px 30px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  text-align: center;
  width: 85%;
}